.title {
  text-transform: uppercase;
}

.titleWrapper {
  display: flex;
  gap: 10px;
  align-items: center;
}

.titleWrapperRight {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: right;
}